        </section>
        <footer class="shadow-md md:h-16 p-4 md:fixed bottom-0 left-0 right-0 bg-light mt-8">
            <div class="w-3/4 h-full mx-auto">
                <ul class="md:flex text-center md:text-left m-0 p-0 items-center justify-end h-full list-none">
                    <li class="md:px-4">
                        <a class="f-link" href="https://pr0gramm.com/imprint">Impressum</a>
                    </li>
                    <li class="md:px-4">
                        <a class="f-link" href="https://pr0gramm.com/datasafety">Datenschutz</a>
                    </li>
                    <li class="md:px-4">
                        <a class="f-link" href="https://pr0gramm.com">pr0gramm</a>
                    </li>
                    <li class="md:px-4">
                        <a class="f-link" href="https://pr0gramm.com/user/TheShad0w">TheShad0w</a>
                    </li>
                    <li class="md:px-4">
                        <a class="f-link" id="f-b" href="#">Feedback & Bugs</a>
                    </li>
                </ul>
            </div>
        </footer>
        <script type="text/javascript" src="/lib/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/lib/js/swal.min.js"></script>
        <script type="text/javascript" src="/js/global.js"></script>
    </body>
</html>
