<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
    <head>
        <%- include("meta"); -%>
        <script src="/lib/js/pace.min.js"></script>

        <link rel="stylesheet" href="/css/loader.css">
        <link rel="stylesheet" href="/css/main.css">

        <% if (status_code === 404){ %>
        <style data-for="404" type="text/css">
            .not-found-wrap {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
            }
            .not-found-wrap > h1 {
                font-size: 78px;
                margin: 5px 0;
            }
            .not-found-wrap > h3 {
                font-size: 24px;
                margin: 15px 0;
            }
        </style>
        <% } %>
    </head>
    <body>
        <header class="site-header">
            <div class="h-container">
                <div class="h-left">
                    <a href="/">
                        <img src="/img/logo.jpg" alt="disc0rd"> disc0rd
                    </a>
                </div>
                <div class="h-right">
                    <a href="<%= !!user ? "/logout" : "/auth" %>">
                        <img src="<%= !!user ? `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}` : "/img/user-placeholder.png" %>" alt="User">
                        <span>
                            <%= !!user ? user.username : "Anmelden" %>
                            <% if(!!user){ %>&nbsp;<span class="h-logout-bold"> Ausloggen</span><% } %>
                        </span>
                    </a>
                </div>
            </div>
        </header>
        <section class="main">