<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
    <head>
        <%- include("meta"); -%>
        <script src="/lib/js/pace.min.js"></script>

        <link rel="stylesheet" href="/css/loader.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header class="site-header">
            <div class="h-container">
                <div class="h-left">
                    <a href="/">
                        <img src="/img/logo.jpg" alt="disc0rd"> disc0rd
                    </a>
                </div>
                <div class="h-right">
                    <a href="<%= !!user ? "#" : "/auth" %>">
                        <img src="<%= !!user ? `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}` : "/img/user-placeholder.png" %>" alt="User">
                        <span><%= !!user ? user.tag : "Anmelden" %></span>
                    </a>
                </div>
            </div>
        </header>
        <section class="main">