        <div class="logged-in-inner noselect" style="filter: blur(8px); cursor: default !important; pointer-events: none">

            <div class="w-full md:flex px-4 md:pr-6">
                <div class="w-full md:w-1/2">
                    <h2 class="text-2xl">pr0gramm</h2>
                    <div class="bg-light mt-8 rounded-md shadow-md p-8 md:h-48 h-auto text-center md:text-left">
                        <span class="pr0-rank" id="um0">LoremIpsum</span>
                        <p class="mt-6">
                            Rang: <span>Schwuchtel</span>
                        </p>
                        <p class="">
                            Benis: <span>1337</span>
                        </p>
                    </div>
                </div>
                <div class="w-full md:w-1/2 px-4 md:pl-6">
                    <h2 class="text-2xl pt-8 md:pt-0">Discord</h2>
                    <div class="bg-light mt-8 rounded-md shadow-md md:flex p-4 md:p-8 md:h-48 h-auto">
                        <div class="w-full md:w-48">
                            <img class="block mx-auto h-full" src="/img/user-placeholder.png" alt="User">
                        </div>
                        <div class="md:pr-0 md:pl-8 w-full md:flex-grow mt-8 md:mt-0 text-center md:text-left">
                            <span class="dc-name text-xl">LoremIpsum#1337</span>
                            <br>
                            <div class="md:flex">
                                <div class="relative flex mx-auto md:mx-0 discord-input">
                                    <input type="checkbox" class="duration-300 hover:text-gray-300 cursor-pointer" name="sync-nick" id="sync-nick" checked>
                                    <label for="sync-nick"></label>
                                    <span class="discord-tick"></span>
                                </div>
                                <p class="md:ml-2 block md:inline duration-300">pr0gramm Name als Discord Nick setzen</p>
                                <span id="nick-info">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="#FFF" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"/>
                                    </svg>
                                </span>
                            </div>
                            <button class="rounded-md shadow-md mt-4 bg-discord-blue text-white px-4 py-2 duration-300 hover:bg-discord-blue-dark" id="resync-nick" disabled>Re-Sync</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full px-4">
                <h2 class="text-2xl pt-8">Rollen</h2>
                <div class="bg-light mt-8 user-info-dc-rollen justify-between rounded-md shadow-md flex p-8">
                    <div class="skeleton w-full h-auto block">
                        <div class="preload-line"></div>
                        <div class="preload-line"></div>
                        <div class="preload-line"></div>
                    </div>
                    <div class="skeleton w-full h-auto block">
                        <div class="preload-line"></div>
                        <div class="preload-line"></div>
                        <div class="preload-line"></div>
                    </div>
                    <div class="skeleton w-full h-auto block">
                        <div class="preload-line"></div>
                        <div class="preload-line"></div>
                        <div class="preload-line"></div>
                    </div>
                    <div class="skeleton w-full h-auto block">
                        <div class="preload-line"></div>
                        <div class="preload-line"></div>
                        <div class="preload-line"></div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-full mt-8 px-4">
                <h2 class="text-2xl pt-8 md:pt-0">Lorem Ipsum Dolor</h2>
                <div class="mt-8 bg-light rounded-md shadow-md p-4 md:p-8 text-center md:text-left">
                    <p class="info">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras efficitur odio sem, at varius purus imperdiet et. Curabitur tincidunt eros sit amet ligula pretium rutrum.
                        <br>
                        <b>Nulla suscipit:</b> enim egestas neque dignissim, sed sollicitudin justo sodales. Vestibulum rhoncus rhoncus <b>metus nec</b> mollis. 
                        <br>
                        estibulum quis nisl leo. Praesent placerat elit quis orci scelerisque tempus. Proin quis tempus diam. In <b>porta</b> mi sed velit facilisis.
                    </p>
                    <div class="mt-4">
                        <input class="w-16 text-center bg-transparent border-b-2 border-dark" placeholder="DD">
                        <input class="w-16 text-center bg-transparent border-b-2 border-dark" placeholder="MM">
                    </div>
                    <button class="rounded-md shadow-md mt-4 bg-discord-blue text-white px-4 py-2">Suspendisse</button>
                </div>
            </div>
        </div>
        