<%- include("../layouts/header"); -%>


            <div class="not-found-wrap">
                <h1>&macr;\_(&#12484;)_/&macr;</h1>
                <h3>Seite nicht gefunden.</h3>
            </div>

<%- include("../layouts/footer"); -%>
