<%- include("../layouts/header"); -%>


            <div class="error-wrap">
                <h1>&macr;\_(&#12484;)_/&macr;</h1>
                <h3>ZOMG - Irgendwas doofes ist passiert.</h3>
                <h4>
                    Das Problem liegt bei mir, nicht bei dir.
                    <br>
                    Bitte einen Screenshot hiervon an TheShad0w senden - Discord: ShadowByte#1337
                    <br>
                    <small>(Kann mir kein automatisches reporting leisten. Miese Zeiten Bruder)</small>
                </h4>
                <br><br>
                <code>
                    <%= error_stack %>
                </code>
            </div>

<%- include("../layouts/footer"); -%>
